<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    <title th:text="#{newtask}"></title>
</head>

<body>
<header id="nav" class="nav">
    <a href="/" th:text="#{overview}"></a></li>
    <a href="/tasks/new" th:text="#{createtask}"></a>
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="nl" th:text="#{lang.nl}"></option>
    </select>
</header>
<form action="/tasks/new" method="post" th:object="${taskDTO}">
    <h2 th:text="#{newtask}"></h2>
    <div class="form-group">
        <label for="titel" th:text="#{title}">:</label>
        <input type="text" class="form-control" id="titel" name="titel" th:field="*{titel}" required>
        <p th:errors="*{titel}"></p>
    </div>

    <div class="form-group">
        <label for="beschrijving" th:text="#{description}">:</label>
        <textarea class="form-control" id="beschrijving" name="beschrijving" rows="2" required></textarea>
    </div>

    <div class="form-group">
        <label for="datum" th:text="#{date}"></label>
        <input type="datetime-local" class="form-control" id="datum" name="datum" th:field="*{datum}" required>
    </div>

    <input type="submit" th:text="#{submit}">
</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>