<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">


    <title>New Task</title>
</head>

<body>

<form action="/tasks/new" method="post">
    <h2>New Task</h2>
    <div class="form-group">
        <label for="titel">Titel</label>
        <input type="text" class="form-control" id="titel" name="titel" placeholder="title">
    </div>

    <div class="form-group">
        <label for="beschrijving">Beschrijving</label>
        <textarea class="form-control" id="beschrijving" name="beschrijving" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="datum">Date</label>
        <input type="datetime-local" class="form-control" id="datum" name="datum">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>