<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Task info</title>
</head>
<body>


<div class="task">
    <h1>Task Overview</h1>
    <div th:if="${task!=null}">
        <h2 th:text="*{task.titel}"></h2>
        <p th:text="*{task.beschrijving}"></p>
        <section th:each="subTask : ${task.subTasks}">
            <h4 th:text="*{subTask.titel}"></h4>
            <p th:text="*{subTask.beschrijving}"></p>
        </section>
        <p th:text="|due *{task.datum.getDayOfMonth()} *{task.datum.getMonth().toString().toLowerCase()} at *{task.datum.getHour()}:*{task.datum.getMinute()}|"></p>
    </div>
    <h2 th:if="${task==null}">Task not found</h2>
</div>


</body>
</html>